[Desktop Entry]
Name=Mozilla Thunderbird
Name[pl]=Mozilla Thunderbird
Comment=Email client
Comment[pl]=Klient poczty
Exec=mozilla-thunderbird
Icon=mozilla-thunderbird.png
Terminal=false
Type=Application
Categories=Network;Email;
Encoding=UTF-8
# vi: encoding=utf-8
