[Desktop Entry]
Name=Thunderbird Community Edition
Name[pl]=Thunderbird Community Edition
Comment=Email client based on Mozilla technology
Comment[pl]=Klient poczty oparty na technologii Mozilli
Exec=mozilla-thunderbird
Icon=mozilla-thunderbird
Terminal=false
Type=Application
Categories=Network;Email;
Encoding=UTF-8
# vi: encoding=utf-8
